<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="['/home']" routerLinkActive="active">Itaú</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>