<div class="row topo">
  <div class="col-md-12">
    <div> 
    <h5 class="historico">Histórico fatura</h5>
    <span class="direita">
      <button class="btn btn-sm btn-dark" (click)="consolidado(template)">Consolidado</button>
    </span>

    <ng-template #template>
      <div class="modal-header">
        <h5 class="modal-title pull-left">Consolidado</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Mês</th>
              <th scope="col">Total Gasto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ jan }}</td>
              <td>{{ gastoJaneiro }}</td>
            </tr>
            <tr>
              <td>{{ fev }}</td>
              <td>{{ gastoFevereiro }}</td>
            </tr>
            <tr>
              <td>{{ mar }}</td>
              <td>{{ gastoMarco }}</td>
            </tr>
            <tr *ngIf="gastoAbril">
              <td>{{ abr }}</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>{{ mai }}</td>
              <td>{{ gastoMaio }}</td>
            </tr>
            <tr>
              <td>{{ jun }}</td>
              <td>{{ gastoJunho }}</td>
            </tr>
            <tr>
              <td>{{ jul }}</td>
              <td>{{ gastoJulho }}</td>
            </tr>
          </tbody>
        </table>
        
        
      </div>
    </ng-template>

  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Lancamento</th>
          <th scope="col">Valor</th>
          <th scope="col">Mês de Lançamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fatura of informacaoFatura">
          <th scope="row">{{ fatura.origem }}</th>
          <td>{{ fatura.valor }}</td>  
          <td *ngIf="fatura.mes_lancamento == 1">Janeiro</td>  
          <td *ngIf="fatura.mes_lancamento == 2">Fevereiro</td>
          <td *ngIf="fatura.mes_lancamento == 3">Março</td>    
          <td *ngIf="fatura.mes_lancamento == 4">Abril</td>   
          <td *ngIf="fatura.mes_lancamento == 5">Maio</td>
          <td *ngIf="fatura.mes_lancamento == 6">Junho</td> 
          <td *ngIf="fatura.mes_lancamento == 7">Julho</td> 
          <td *ngIf="fatura.mes_lancamento == 8">Agosto</td>
          <td *ngIf="fatura.mes_lancamento == 9">Setembro</td>
          <td *ngIf="fatura.mes_lancamento == 10">Outubro</td>
          <td *ngIf="fatura.mes_lancamento == 11">Novembro</td>
          <td *ngIf="fatura.mes_lancamento == 12">Dezembro</td>
        </tr>
      
      </tbody>
    </table>
  </div>
</div>